<!DOCTYPE html>
<html xmlns:th= "www.thymeleaf.org">
<head>
<title>City</title>
</head>
<body>
	<h2 th:inline="text">City</h2>
	ID: <span th:inline= "text"> [[${city.id}]]</span><br />
	Name: <span th:inline= "text"> [[${city.name}]]</span><br />
	Country Code: <span th:inline= "text"> [[${city.countryCode}]]</span><br />
	Country Name: <span th:inline= "text"> [[${city.countryName}]]</span><br />
	District: <span th:inline= "text"> [[${city.district}]]</span><br />
	Population: <span th:inline= "text"> [[${city.population}]]</span><br />
	Local Weather: <span th:inline= "text"> [[${city.temp}]]</span><br />
	Local Time: <span th:inline= "text"> [[${city.time}]]</span><br />
	
	<br/>
	
	For a fabulous weekend get away for 2 to <span th:inline= "text"> [[${city.name}]]</span> sign up here.
	<br/>
	<form action = "#" th:action="@{/cities/reservation" th:object="${cityReservation}" method = "post">
	
		<input type = "hidden" th:filed = "*{city}" value = "[[${city.name}]]">
		Email <input type = "text" th:field  ="*{email}">
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			
		<input type ="radio" th:filed = "*{level}" name = "lux" value = "Luxury">
		<label for ="lux"> Luxury $1000</label><br />
		<input type ="radio" th:filed = "*{level}" name = "mod" value = "Moderate">
		<label for ="mod"> Very Good $500</label><br />
		<input type ="radio" th:filed = "*{level}" name = "budget" value = "Budget">
		<label for ="budget"> Good $350</label><br />	
		<input type = "submit" value="Submit" />	
	</form>
	
	
</body>
</html>